.bodymain{
    width:1439px;
    height:965px;
    display: flex;
padding: 35px 23px 47.329px 23px;
justify-content: center;
align-items: center;
border-radius: 4px;
border: 1px solid var(--gray-divider, #E5E5E5);
background: var(--white-high-emphasis, #FFF);
}
.subbodymain{
    width:1115px;
    height:965px;
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 30px;
}
.bodybutton{
    margin-top: 30px;
    width:470px;
    height:48px;
    display: flex;
align-items: flex-start;
gap: 12px;
    
}
.bodybutton1{
    display: flex;
padding: 12px 22px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 8px;
background: #EFEFEF;
}
.subbodymain{
    width:1056px;
    /* height:337px; */
    display: flex;
align-items: flex-start;
gap: 20px;
}
.camerapic{
    width:600px;
    height:336.365px;
    display:flex;
    gap:20px;
}
.camerapicDetails{
    width:390px;
    height:250px;
    display: flex;
    flex-direction: row;
width: 436px;
padding: 22px 23px 65px 23px;
justify-content: center;
align-items: center;
border-radius: 6px;
border: 1px solid var(--gray-divider, #E5E5E5);
background: var(--white-high-emphasis, #FFF);
}
.camerapicDetails2{
    display: flex;
width: 390px;
height:250px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
flex-shrink: 0;

}
.camerapicDetails3{
    width:390px;
    height:22px;
    display: flex;
justify-content: space-between;
align-items: flex-start;
align-self: stretch;

}
.details{
    color: #000;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 100% */
letter-spacing: 0.1px;
}

.camerabutton{
    display: flex;
padding: 4px 8px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 4px;
background: rgba(0, 219, 74, 0.87);
}


.camerapicDetails4{
    width:244px;
    height:132px;
    /* display: flex; */
flex-direction: column;
align-items: flex-start;
gap: 12px;
}
.contentbody1{
    color: #222;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.1px;
}
.contentbody2{
    display: inline;
    color: #757575;
font-family: Roboto;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 153.846% */
letter-spacing: 0.1px;
}

.camerapicDetails5{
    margin-top: 30px;
    width:188px;
    height:48px;
    display: flex;
flex-direction: column;
align-items: flex-start;
/* gap: 6px; */
}
.contentbody3{
    display: inline;
    color: #0043C4;
font-family: Roboto;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.1px;
text-decoration-line: underline;
}
.subbodymain3{
    width:1054px;
    height:204px;
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 18px;
}
.submain2{
    width:232px;
    height:24px;
}
.cardbody{
    width:1054px;
    height:162px;
    display: flex;
align-items: flex-start;
gap: 20px;

}
.card1body{
    width:338px;
    height:162px;
    display: flex;
width: 338px;
padding: 18px 20px 18px 21px;
/* justify-content: center; */
justify-content: flex-start;
align-items: center;
border-radius: 6px;
border: 1px solid var(--gray-divider, #E5E5E5);
background: var(--white-high-emphasis, #FFF);
}

.cardbody1{
    color: #222;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.1px;
}

.cardbody2{
    color: #757575;
font-family: Roboto;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.1px;
}

.cardbody3{
    color: #222;
font-family: Roboto;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.1px;
}
.cardbody4{
    color: #4CAF50;
font-family: Roboto;
font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.1px;
}

.card3body{
    width:338px;
    height:162px;
padding: 18px 20px 18px 21px;
justify-content: flex-start;
align-items: center;
border-radius: 6px;
border: 1px solid var(--gray-divider, #E5E5E5);
background: var(--white-high-emphasis, #FFF);

}
.card2body{
    width:338px;
    height:162px;
padding: 18px 20px 18px 21px;
justify-content: flex-start;
align-items: center;
border-radius: 6px;
border: 1px solid var(--gray-divider, #E5E5E5);
background: var(--white-high-emphasis, #FFF);
}

.middle{
    width:1052px;
    height:280px;
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 18px;

}


.buttonmid{
    color: #3C3C3C;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 24px; /* 150% */
letter-spacing: 0.5px;
text-decoration-line: underline;
}

.middle1{
    width:1052px;
    height:24px;
    display: flex;
justify-content: space-between;
align-items: flex-start;
align-self: stretch;
}

.card3bodymain{
    width:1052px;
    height:238px;
    display: flex;
align-items: flex-start;
gap: 12px;
}

.card3bodysub{
    display: flex;
padding: 12px;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
gap: 10px;
border-radius: 4px;
border: 1px solid #E5E5E5;
}
    